<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
 -->

 <img src="assets/images/yy.jpg" class="img-fluid img-thumbnail" width="1100" height="650" alt="...">

<br>
<br>

 <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" >
    <div class="card">
      <img src="assets/images/communicate.png" class="card-img-top" >
      <div class="card-body"  align="center">
        <br>
        <h5 class="card-title"><B>Communicate Alerts</B></h5>
        <p class="card-text">In lobbies and other common spaces.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/images/social-engagement.png" class="card-img-top" alt="...">
      <div class="card-body" align="center">
        <br>
        <h5 class="card-title"><B>Social Engagement</B></h5>
        <p class="card-text"> Display social media channel content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="assets/images/localinfo.png" class="card-img-top" alt="...">
      <div class="card-body" align="center">
        <h5 class="card-title"><B>Local Info</B></h5>
        <p class="card-text">Display helpful info like weather & traffic updates</p>
      </div>
    </div>
  </div>
</div>




 <br>
 <div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>


